.header_full {
  height: 100vh;
  background-image: url('/images/bg_contact.jpg');
  background-size: 100% 100vh;
  background-position: top;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  &--title {
    border: 3px solid $white;
    border-radius: 50%;
    width: 36rem;
    height: 36rem;
    margin: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8rem;
  }

  &--subtitle {
    text-align: center;
    margin-bottom: 4.8rem;
    font-size: $font-size-xlarge;
  }
}

.more-da {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  //   transform: translate(-50%, -50%);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, -50%);
  }
  40% {
    transform: translate(-50%, calc(-50% - 3rem));
  }
  60% {
    transform: translate(-50%, calc(-50% - 1.5rem));
  }
}
