.header_top {
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__visible {
    background: linear-gradient(
        to right bottom,
        $color-primary-dark,
        $color-primary-light
      ),
      $white;
    box-shadow: 0 0.1rem 0.3rem rgba(black, 0.4);
    z-index: 100;
  }
}
.logo_box {
  margin: $l-size;
}
.navbar {
  display: flex;
}
.nav_links {
  margin: 0 $l-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_btns {
  margin: 0 $l-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_link {
  padding: $s-size $m-size;
  position: relative;
  &:hover a {
    color: rgba(black, 0.9);
  }
  &::after {
    content: '';
    position: absolute;
    border-bottom: 0.2rem solid rgba(black, 0.9);
    bottom: 0;
    left: $s-size;
    right: 100%;
    transition: all 0.4s;
  }
  &:hover::after {
    right: $s-size;
  }
}
.link_active {
  padding: $s-size $m-size;
  position: relative;
  & a {
    // color: #519872;
    color: rgba($color: #000000, $alpha: 0.9);
  }
  &__visible a {
      color: rgba($color: black, $alpha: 0.9);
  }
}
.nav_btn a {
  padding: 0.6rem $m-size;
  margin: 0 0.8rem;
  border: 0.1rem solid rgba($color: $white, $alpha: 0.5);
  border-radius: $xl-size;
  text-align: center;
  position: relative;
  letter-spacing: 0.15rem;
  transition: all 0.2s;
  &:hover {
    color: rgba(black, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &::before {
    content: '';
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
    display: inline-block;
    right: 100%;
    height: 110%;
    border-radius: $xl-size;
    transition: all 0.2s;
    z-index: -1;
  }
  &:hover::before {
    background: $white;
    right: 0;
  }
}
.nav-animate {
  animation: animatetop 0.4s ease-out;
}
@keyframes animatetop {
  0% {
    opacity: 0;
    top: -15rem;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
