.section-abt {
  background-color: #fdfdfd;
  padding: 10rem 0 15rem 0;
  text-align: center;
  box-shadow: 0 0.1rem 0.3rem rgba(black, 0.4);

  &:nth-child(2) {
    padding: 10rem 0;
  }
}

.abt-content {
  color: $grey;
  display: flex;
  justify-content: space-between;
}

.title-abt {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $font-size-xlarge;
  font-weight: 700;
  color: $grey;
  text-transform: uppercase;
}

.composition {
  padding: 8rem;
  width: 50%;
  position: relative;

  &__photo {
    object-fit: cover;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;

    &--p1 {
      left: 55%;
      top: 45%;
      width: 13rem;
      height: 13rem;
    }

    &--p2 {
      left: 30%;
      top: 15%;
      width: 12rem;
      height: 12rem;
    }

    &--p3 {
      left: 40%;
      top: 60%;
      width: 16rem;
      height: 16rem;
    }

    &--p4 {
      left: 40%;
      top: 40%;
      width: 11rem;
      height: 11rem;
    }

    &--p5 {
      left: 20%;
      top: 50%;
      width: 15rem;
      height: 15rem;
    }

    &:hover {
      width: 15rem;
      height: 15rem;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
      z-index: 4;
    }
  }

  // &:hover &__photo:not(:hover) {
  //   // filter: blur(0.5rem);
  //   transform: scale(0.95);
  // }
}

.abt-content-info {
  padding: 8rem;
  width: 50%;
  text-align: left;
  font-size: $font-size-large;
}

.notHoverPhoto {
  transform: scale(0.95);
  filter: blur(0.5rem);
}
