//Color Palette
$color-primary: #a536dd;
$color-primary-light: rgba(181, 89, 226, 0.8);
$color-primary-dark: rgba(141, 0, 212, 0.8);
$grey: #777;
$light-grey: #f7f7f7;
$light-blue: #adb9e3;
$white: #ffffff;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Heights and Widths
$header-height: 7.2rem;

//Font Size
$font-size-xlarge: 3.75rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
